*.pyc
*.log
.vscode
*.ipynb
slurm-*.out
wandb
tokenizer
data
logs
analysis
**/__pycache__
inference/checkpoints
inference/tests/Data
logs
refs
checkpoints
tests
run.sh

*.py[cod]
*.so
*.egg-info/
**/build/
**/dist/
